activations==0.1.0
datasets==1.7.0
file_utils==0.0.1
ipython==8.0.1
matplotlib==3.3.4
numpy==1.19.5
packaging==20.9
pandas==1.1.5
Pillow==9.0.1
python_dateutil==2.8.2
scikit_learn==1.0.2
scipy==1.5.4
seaborn==0.11.1
six==1.16.0
tensorflow==2.8.0
tensorflow_cpu==2.5.0
torch==1.9.0
torchtext==0.10.0
torchvision==0.9.1
tqdm==4.61.1
transformers==4.7.0
wandb==0.10.31
